@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Kanit:800i|Open+Sans:300i');
html{
	font-size: 100%;
}

h1{
	font-size: 4.25rem;
	line-height: 5rem;
}

h4{
	font-size: 2.25rem;
	line-height: 2.5rem;
}

.title{
	font-family: 'Kanit', sans-serif;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin: 0;
}

.badge{
	margin-top: 10rem;
}

.registry-block{
	text-align: center;
}

.registry-block a{
	display: inline-block;
}

.registry{
	max-width: 200px;
	height: auto;
}

p.body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 1rem;
	margin-top: 5rem;
	text-align: center;
}
